<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<h3>Media Spotlight: top media right now</h3>
<ul>
  <li>
    Top Movies
  </li>
  <li>
    Top Books
  </li>
  <li>
    Top Albums
  </li>
</ul>
