<div class="homepage">

  <section class="spotlight card">
    <div class="card-body">
      <h3 class="card-title">Media Spotlight: TOP MEDIA HERE</h3>
      <p class="card-text">
        RESULT FROM SPOTLIGHT LOGIC HERE - NUM OF VOTES - DESCRIPTION
      </p>
    </div>
  </section>

  <section class="top-media">
    <section class="top-movies">
      <h3>Top Movies</h3>
      <p>
        RESULTS FROM LIST MOVIES LOGIC
      </p>
    </section>
    <section class="top-books">
      <h3>Top books</h3>
      <p>
        RESULTS FROM LIST BOOKS LOGIC
      </p>
    </section>
    <section class="top-albums">
      <h3>Top Albums</h3>
      <p>
        RESULTS FROM LIST ALBUMS LOGIC
      </p>
    </section>


  </section>

</div>
