<div class="homepage">

  <section class="spotlight card">
    <div class="card-body">
      <h3 class="card-title">Media Spotlight: TOP MEDIA HERE</h3>
      <p class="card-text">
        RESULT FROM SPOTLIGHT LOGIC HERE - NUM OF VOTES - DESCRIPTION
      </p>
    </div>
  </section>

  <section class="top-media">
    <% Work.get_categories.each do |category| %>
    <section class="top-<%=category.pluralize%>">
      <h3>Top <%=category.pluralize%></h3>
      <% Work.top_ten(category).each do |work| %>
      <ul>
        <li>
          <%=link_to work.title, work_path(work)%> by
          <%=work.creator%>
        </li>
        <li>
          NUM OF VOTES
        </li>
      </ul>
      <%end%>
    </section>
    <% end %>
  </section>

</div>
