<h1>Log In</h1>

<%= form_with model: @user, class: "user-form", method: :post  do |f|%>
  <p>Please enter a username: </p>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.submit "Log In", class: "user-button" %>
<% end %>
