<h1>Works#edit</h1>
<p>Find me in app/views/works/edit.html.erb</p>

<%= render partial: "form",
      locals: { action_name: 'Edit a work',
                this_model: @work,
                button_title: 'Edit' } %>
