<section class="top-ten__container">
 <% [[@books, "Books"], [@albums, "Albums"], [@movies, "Movies"]].each do |works, category| %>
 <section class="top-ten__list-container">
   <h2 class="top-ten__header">
     Top <%= category %>
   </h2>
   <% works.each do |book| %>
     <ul class="list-group top-ten__list">
       <li class="list-group-item">
         <h4>
           <%= link_to "#{book.title}", work_path(book.id)%>
           <small class="top-ten__creator"> by <%= book.creator %></small>
         </h4>
         <p><%= book.votes.count %> votes</p>
       </li>
     </ul>
   <% end %>
   </section>
 <% end %>
</section>
