<h1>Works#home</h1>
<p>Find me in app/views/works/home.html.erb</p>

<% VALID_WORK_CATEGORIES.each do |category| %>
  <br>
  TOP <%= category.upcase %>S
  <br><br>
  <% Work.by_category(category).each do |work| %>
    <%= work.title %>
    <br>
  <% end %>
<% end %>
