
<h1>List of works!</h1>

<section class="media table">

  <h4>Albums</h4>
  <table class="table">
    <thead>
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>
    </thead>
  </table>
</section>

<section class="media table">

  <h4>Books</h4>
  <table class="table">
    <thead>
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>
    </thead>

        <tr>
          <td>25</td>
          <td><a href="/works/134">The Hipster and the Beast</a></td>
          <td>Hipper T</td>
          <td>2016</td>
          <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/134/upvote">Upvote</a></td>
        </tr>
      </tbody>
    </table>
</section>
<section class="media table">
    <h4>Movies</h4>
    <table class="table">
      <thead>
        <tr>
          <th width="80">Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th width="100">Published</th>
          <th width="100">Upvote</th>
        </tr>
      </thead>
      <tbody>
      </table>
    </section>
    <a class="btn btn-secondary" href="/">View top media</a>
    <a class="btn btn-primary" href="/works/new">Add a new work</a>
  </main>
</body>

<!-- <% @works.each do |work| %>
<%= "#{work.title}: #{work.description}" %>
<% end %> -->
