<div class="wrapper_index">
  <h2>WORKS</h2>
  <ul>
    <%@works.each_with_index do |work, index| %>
      <li class="works">
        <%=link_to "#{index +1}. " + work.title, work_path(work.id)%>
      </li>
    <% end %>
  </ul>
</div>
