


List of Works

<% @works.each do |work| %>
<ul>
  <li>
  <%= link_to work[:title], work_path(work.id) %>
</li>
</ul>
  <% end %>

  BOOKS
  <% @all_books.each do |book| %>
  <ul>
    <li>
    <%= book[0] %>
  </li>
  </ul>
    <% end %>
