<h1>Works index page</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Votes</th>
      <th scope="col">Title</th>
      <th scope="col">Created By</th>
      <th scope="col">Published</th>
      <th scope="col">Upvote</th>

    </tr>
  </thead>
  <tbody>


    <% @works.each do |work| %>
    <tr>
    <th scope="row"></th>
    <td><%= link_to "(#{work.title})", work_path(work.id) %></td>
    <td><%= "#{work.creator}"%></td>
    <td><%= "#{work.publication_year}"%></td>
    <td><%= %></td>
    <p>
    <% end %>
  </tr>
</tbody>
  </table>
