<h2> All the works </h2>
<p> Here they are! </p>

<!-- album, book, movie -->
<table>
        <% @works.each do |work| %>
        <!-- for each category, add the works associated with it, unordered, under the correct table header -->
        <tr>
          <td>
            <%= link_to "#{work.title}", work_path(work.id) %> by <%= "#{work.creator}" %>
          </td>
          <td>
            <%= "#{work.votes.count}"%>  votes
          </td>
        </tr>
      <% end %>
</table>



</section>
