<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>

<% VALID_WORK_CATEGORIES.each do |category| %>
  <br>
  <%= category.upcase %>
  <br><br>
  <% Work.by_category(category).each do |work| %>
    <%= work.title %>
    <br>
  <% end %>
<% end %>
