<h2> All the works </h2>
<p> Here they are! </p>

<!-- album, book, movie -->
      <tr>
        <% @works.each do |work| %>
        <!-- for each category, add the works associated with it, unordered, under the correct table header -->
        <td>
          <%= link_to "#{work.title}", work_path(work.id) %>
        </td>
        <td>
          <%= "#{work.votes.count}"%>  votes </td>
      </tr>
      <% end %>
</tbody>
</table>



</section>
