<h1> All Works </h1>

<ul>
  <% @works.reverse.each do |work| %>
    <li><strong><%=link_to "#{work.title}", work_path(work.id)%></strong>
    <%=work.created_by %>
    <%=work.year_published %>
    <br></br>
    </li>
  <% end %>
</ul>
