<h1>Works#index</h1>
<h2>Build an index page with a list of all works for each category</h2>
<p>Find me in app/views/works/index.html.erb</p>
<h1>Album:</h1>
<% @albums.each do |album| %>
    <br>
    <%=link_to album.title, work_path(album.id) %>
<% end %>

<h1>Book:</h1>
<% @books.each do |book| %>
    <br>
    <%=link_to book.title, work_path(book.id) %>
<% end %>

<h1>Movie:</h1>
<% @movies.each do |movie| %>
    <br>
    <%=link_to movie.title, work_path(movie.id) %>
<% end %>
