<h1> This is all the media! </h1>

<section>
  <% @works.each do |work| %>
  <h2>
    <%= link_to "#{work.title}", work_path(work.id) %>
  </h2>
  <%= "Created by: #{work.creator}" %>
  <%= "Published : #{work.publication_year}" %>

  <% end %>
  </section>
