<div class="wrapper_index">
  <h2>WORKS</h2>
  <ul>
    <%@albums.each do |work| %>
      <li class="works">
        <%=link_to "1" + work.title, work_path(work.id)%>
      </li>
    <% end %>
  </ul>
</div>
