<h2> All the works </h2>
<p> Here they are! </p>

<!-- album, book, movie -->
<table>

</table>

<table class="table">
      <thead>
        <tr>
          <th width="80">Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th >Upvote</th>
        </tr>
      </thead>
      <tbody>
            <% @works.each do |work| %>
            <!-- for each category, add the works associated with it, unordered, under the correct table header -->
            <tr>
              <td>
              </td>
              <td>
                <%= link_to "#{work.title}", work_path(work.id) %>
              </td>
              <td>
                <%= "#{work.creator}"  %>
              </td>
              <td>
                <%= "#{work.year}"%>
              </td>
              <td>
              <%= link_to "Vote!", vote_path(work.id), method: :create %>
            </td>
            </tr>
          <% end %>

      </tbody>
    </table>



</section>
