<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>

<% @section_headers.each do |hdr| %>
  <h2><%= hdr %></h2>
  <% @work_titles .each do |titl| %>
    <h3><%= titl %></h3>
  <% end %>
<% end %>
