<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>

<% @section_headers.each do |header| %>
  <h2><%= header %></h2>
  <% @work_titles .each do |title| %>
    <h3><%= title %></h3>
  <% end %>
<% end %>
