<section class="index-media">
<h2> List of Works </h2>

<h3> Albums </h3>

<%= render partial: 'works/media_table',
locals: {
  model: @albums
}
%>
</section>

<section class="index-media">
<h3> Books </h3>

<%= render partial: 'works/media_table',
locals: {
  model: @books
}
%>
</section>

<section class="index-media">
<h3> Movies </h3>

<%= render partial: 'works/media_table',
locals: {
  model: @movies
}
%>
</section>
