<section class = "all-works">
  <h2>List of Works</h2>

  <section>
    <% Work::WORK_CATEGORIES.each do |category| %>
    <h4><%= category.capitalize %></h4>
      <ul class = "media-list">
      <% list = Work.where(category: category) %>
        <% list.each do |ref , info| %>
      <li><%= ref.title %></li>
      <% end %>
      </ul>
    <% end %>
  </section>
</section>
