<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <a class="spotlight__link-to" href="/works/32">Harry Potter and the Gorblet of Fire</a> by Warner Brothers
    </h2>
    <p class="spotlight__description">
      9 votes - SNAPE KILLS DUMBLEDORP
    </p>
  </section>

<%['movie', 'book', 'album'].each do |category| %>
  <h2> Top <%=category%>s </h2>
  <% @works.each do |work| %>
    <%if category == work.category%>
      <h4> <%=link_to work.title, work_path(work.id) %> by <%= work.creator%></h2>
      <p>
        Votes: Method goes here
      </p>
    <%end%>
  <%end%>
<%end%>
</main>
