<% if !@work.errors.empty? %>
  <%= render partial: "layouts/form_errors", locals: { model: @work, problem: "A problem occurred: Could not create #{@work.category}" } %>
<% end %>

<main>
  <%= render partial: "form", locals: { action_name: "Add a new work" } %>
</main>
