<div class="work-container">
  <div class="notice">
    <%= flash[:notice] %>
  </div>

  <%= render partial: "work_form", locals: {
      action_type: "Create New Work",
      form_title: "New Work Form"
    } %>
</div>
