<div class="work-edit-container">
  <div class="notice">
    <%= flash[:notice] %>
  </div>

  <%= render partial: "work_form", locals: {
    action_type: "Create New Work",
    form_title: "New Work Form"
    } %>

  </div>

  <div class="return-home">
    <h3>
      <%= link_to "Return Home", works_path, class: "homepage" %>
    </h3>
  </div>
