<section class="spotlight">
<h2 class="spotlight__header">
<span class="spotlight__header--prefix">Media Spotlight</span>
<a class="spotlight__link-to" href="/works/random_work"><%= "#{@random_work.title}" %></a> <%= "#{@random_work.creator}" %>
</h2>
<p class="spotlight__description">
<%= "#{@random_work.description}" %>
</p>
</section>
