<section class="works-votes__container">
  <h3 class="works-votes__header">[NUMBER] Votes for this <%=@work.category%></h3>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr> TO DO: POPULATE WITH ERB
        <td><a href="/users/[NUM]"> LOOP THROUGH VOTES.USER_ID</a></td>
        <td>LOOP THROUGH VOTES.DATE</td>
</section>

  </main>
</body>
