<h2><%= @work.title %></h2>
<!-- # string concatination requires a string for the date, it needs to be displayed as a string at some point-->
<p>Created by: <%= @work.creator%></p>
<p>Published: <%= @work.publication_year%></p>
<p><%= @work.description%></p>
