<section class="top-ten__container">

<% Category.show_all.each do |category| %>
  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    <%= "Top 10 in #{category.name.capitalize}" %>
  </h2>
  <ul class="list-group top-ten__list">
    <% Work.all.each do |work| %>
    <%  if work.category == category.name %>
      <li class="list-group-item"> <%= link_to "#{work.title}", work_path(work.id) %> by
        <small class=class="top-ten__creator"> <%= "#{work.creator}" %> </small>
      <p> <%= "#{work.votes.count}" %> votes  </p>
      </li>
    <% end %>
    <% end %>
  </ul>
  </section>
<% end %>

</section>
