<div class="container">

  <div class="div1">
    <h3>
      <%= link_to "new users", new_user_path, class: "new-user" %>
    </h3>
  </div>

  <div class="div2">
    <h3>
      <%= link_to "all users", users_path, class: "homepage" %>
    </h3>
  </div>

  <div class="div5">
    <h3>List of Users</h3>
    <h4>Username</h4>
  </div>

  <div class="div6">
    <ol class="user">
      <% @users.each do |user| %>
      <li>
        <p>
          <%= link_to user.username, user_path(user.id) %>
        </p>
      </li>
      <% end %>
    </ol>
  </div>

</div>
