<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<main>
    <h2>List of Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user.id)%></td>
        <td> vote method </td>
        <% end %>
      </tr>
      <tr>
        <td><a href="/users/1">dee</a></td>
        <td>3</td>
        <td>Oct  6, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/2">hello</a></td>
        <td>0</td>
        <td>Oct  7, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/3">Totoro</a></td>
        <td>2</td>
        <td>Oct  7, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/4">adfdf </a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/5">Chris</a></td>
        <td>2</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/6">royalfro</a></td>
        <td>4</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/7">amanda</a></td>
        <td>5</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/8">jackie</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/9">shooob</a></td>
        <td>3</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/10">divya</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/11">guest</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/12">Danielle</a></td>
        <td>3</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/13">Hannah</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/14">Jfahm</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/15">Pumpkin</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/16">Erika</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/17">hh</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/18">zhangjessie2017@gmail.com</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/19">lj</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/20">mlklkk</a></td>
        <td>2</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/21">mike</a></td>
        <td>2</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/22">xoxo'</a></td>
        <td>2</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/23">lauram</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/24">dan</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/25">Sam</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/26">tacocat</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/27">user</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/28">roger</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/29">guy who made the movie 'titanic' (you sould watch its a great flick) "jambes cameron"</a></td>
        <td>3</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/30">userincognito</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/31">Bullfrog</a></td>
        <td>2</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/32">so-i-can-just-open-a-bunch-of-incognitos</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/33">Dave</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/34">griffifam</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/35">ur mom</a></td>
        <td>2</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/36">Minnie</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/37">Beckeyy</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/38">karis</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/39">Punk Ranker</a></td>
        <td>3</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/40">Punk RAnker</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/41">Fellow_Adie</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/42">._.</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/43">anon</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/44">i like to put on my make up and cook dinner to this album okay the guys stopped reading tonight we riot and take down the patriarchy at 11:15</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/45">jfklda;dfks</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/46">1</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/47">ALKJlkjslkfjlkjfslkdjflksjfsjfsdALKJlkjslkfjlkjfslkdjflksjfsjfsdALKJlkjslkfjlkjfslkdjflksjfsjfsdALKJlkjslkfjlkjfslkdjflksjfsjfsdALKJlkjslkfjlkjfslkdjflksjfsjfsdALKJlkjslkfjlkjfslkdjflksjfsjfsdALKJlkjslkfjlkjfslkdjflksjfsjfsdALKJlkjslkfjlkjfslkdjflksjfsjfsdALKJlkjslkfjlkjfslkdjflksjfsjfsdALKJlkjslkfjlkjfslkdjflksjfsjfsd</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/48">1,.3$</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/49">MeltyMama</a></td>
        <td>2</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/50">Garol4cheese</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/51">apples and oranges</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/52">WHOA SPOILERS PLEASE</a></td>
        <td>3</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/53">Garol4Cheese</a></td>
        <td>1</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/54">dsds</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/55">fsfsfsfs</a></td>
        <td>0</td>
        <td>Oct  8, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/56">laura </a></td>
        <td>0</td>
        <td>Oct  9, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/57">ahsiao</a></td>
        <td>0</td>
        <td>Oct  9, 2018</td>
      </tr>
      <tr>
        <td><a href="/users/58">agnes</a></td>
        <td>2</td>
        <td>Oct  9, 2018</td>
      </tr>
  </tbody>
</table>

<a class="btn btn-secondary" href="/">Back to Media List</a>

  </main>
