<h2><%= "List of Users" %></h2>

<table>
  <tr>
    <th>
      <%= "Username" %>
    </th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td>
      <p>
        <%= link_to "#{user.name}", user_path(user.id) %>
      </p>
    </td>
  </tr>
  <% end %>
</table>
