home users page
<br>
displays lists of users
<p>
<table>
  <thead>
    <tr>
      <th width=80>User ID</th>
      <th>Name</th>
      <th>Joined Date</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.created_at %></td>
    </tr>
  <% end %>
</table>
