<h1>List of Users</h1>
  <% @users.each do |user| %>
    <ul>
      <li><%= link_to user.name, user_path(user.id) %></li>
      <li><%= user.print_number_of_votes %></li>
      <li><%= (user.created_at).to_date.strftime("%b %d, %Y") %></li>
    </ul>
  <% end %>

<ul>
  <li><%= link_to "Back to Media List", root_path %></li>
</ul>
