<main>
    <h2>List of Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <% @users.each do |user| %>
        <td><%= link_to user.name, user_path(user.id) %> </td>
      </tr>
      <% end %>
  </tbody>
</table>

<a class="btn btn-secondary" href="/">Back to Media List</a>

</main>
