<h2><%= "List of Users" %></h2>

<table class="table">
  <thead>
    <tr>
      <th>
        <%= "Username" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <p>
          <%= link_to "#{user.name}", user_path(user.id) %>
        </p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to Media List", welcome_index_path, class: "btn btn-primary" %>
