<h1>List of Users</h1>

   <br />
<table>
     <colgroup span="1"> </colgroup>
     <tr>
        <% @users.each do |user| %>
         <th>Username</th>
     </tr>
     <tr>
       <td><%= link_to user.name, user_path(user.id) %> </td>
       <% end %>
     </tr>
</table>





<a class="btn btn-secondary" href="/">Back to Media List</a>
