<h2>List of all Users:</h2>
<table class="table">
  <thead>
    <tr>
      <th> Username </th>
      <th> Joined </th>
      <th> Votes </th>
    </tr>
  </thead>
  <tbody>
<tr> <% @users.each do |user| %>
  <td><%= link_to "#{user.name}", user_path(user.id) %></td>
  <td> <%=  user.created_at %></td>
  <td> <%=  user.votes.length %> </td>
 </tr>
 </tbody>

<% end %>
