

<h2>Log in</h2>

<section>

<%= form_with model: @user, url: login_path, method: :post do |f| %>

  <p><%= f.label :name, 'Username' %></P>
  <p class="form-size"><%= f.text_field :name%></P>

  <p><%= f.submit 'Login', class:"btn btn-primary" %></P>

<% end %>

</section>
