<h2><%="User Summary: #{@user.name}" %></h2>
<p>
  <%= "Joined site: #{@user.date_joined}" %>
</p>

<!-- TODO Show votes  -->
<section class="user-votes_container">
  <h3 class="user-votes_header">Votes</h3>
</section>
<%= link_to "See all users", users_path, class: "btn btn-secondary" %>
<%= link_to "Home", welcome_index_path, class: "btn btn-primary" %>
