User Summary: <%= @user.username %>
<br>
Joined: <%= @user.created_at.to_datetime %>

<br>
Votes

<table>
<tr>
  <td>Media</td>
  <td>Title</td>
  <td>Created By</td>
  <td>Published</td>
  <td>Category</td>
  <td>Voted On</td>
</tr>
</table>
