<% if @user.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1><%=@user.username %></h1>
  <ul>
    <li> Number of upvotes: <%=@user.votes.length%> votes </li>
  </ul>
  <div></div>
  <%= link_to "Delete #{@user.username}", user_path(@user.id), method: :delete %>
<% end %>
