<h2>User Summary: <%=link_to "#{@user.username}", user_path(@user)%></h2>

<p>Joined site <%="#{User.format_date(@user.created_at)}"%></p>
<section class="user-votes__container">
  <h3 class="user-votes__header">Votes</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
    </thead>
    <tbody>
      <% votes = @votes.find_votes_by_user(@user.id)%>
      <tr>
        <p style="color:red">ERB: loop through @user.votes</p>
        <td> link to work show page, "vote.name"</td>
          <td> link to work show page "vote.creator"</td>
            <td>link to work show page "vote.publication_year"</td>
            <td> link to work show page "vote.category"</td>
            <td>link to work show page "vote.created_at"</td>
      </tr>
    </tbody>
  </table>
</section>
