<h2>User Summary: <%=link_to "#{@user.username}", user_path(@user)%></h2>

<p>Joined site Oct  6, 2018</p>

<section class="user-votes__container">
  <h3 class="user-votes__header">Votes</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>
  <tbody>
    <tr>LOOP Through Vote COunt or Votes to get users that VOter for and link to work show page, "vote.name"
    </tr>
    <tr> |
      link to work show page "vote.creator"
    </tr>
    <tr> |
      link to work show page "vote.(creation date)"
    </tr>
    <tr> |
      link to work show page "vote.category"
    </tr>
    <tr> | 
      link to work show page "vote.(date user voted on it)"
    </tr>
  </tbody>
  </table>
