<section>
  <h2>
    Media Spotlight:
  </h2>
</section>

<h1> List of Works </h1>
<strong>
  Books
</strong>
<ul>

  <% @sorted_works.each do |work| %>
  <% if work.category == 'book' %>

  <li>
    <%= link_to "#{work.title}  #{work.creator} #{work.publication_year} #{work.description}", work_path(work.id)%>
  </li>
    <% end %>
  <% end %>
</ul>

<strong>
  Albums
</strong>
<ul>
  <% @sorted_works.each do |work| %>
  <% if work.category == 'album' %>
  <li>
    <%= link_to "#{work.title}  #{work.creator} #{work.publication_year} #{work.description}", work_path(work.id)%>
  </li>
    <% end %>
  <% end %>
</ul>


<strong>
  Movies
</strong>
<ul>
  <% @sorted_works.each do |work| %>
  <% if work.category == 'movie' %>
  <li>
    <%= link_to "#{work.title}  #{work.creator} #{work.publication_year} #{work.description}", work_path(work.id)%>
  </li>
    <% end %>
  <% end %>
</ul>
