
<p>Welcome to MediaRanker!</p>
<main>
<hr class="root__hr">
<section class="top-ten__container">
  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Movies
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="/works/43">i told you so</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>14 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/167">The Craft</a>
          <small class="top-ten__creator">by Andrew Fleming</small>
        </h4>
        <p>6 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/77">Bee Movie</a>
          <small class="top-ten__creator">by hey kids, whats the deal with homework? youre not working on your home</small>
        </h4>
        <p>3 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/119">womp</a>
          <small class="top-ten__creator">by Jambes Cameron</small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/55">Eternal sunshine of the spotless mind</a>
          <small class="top-ten__creator">by Michel Gondry</small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/130">flipping out</a>
          <small class="top-ten__creator">by jeff lewis</small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/50">The Adventures of Priscilla, Queen of the Desert</a>
          <small class="top-ten__creator">by Stephan Elliott</small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/118">Abatar</a>
          <small class="top-ten__creator">by Jambes Cameron</small>
        </h4>
        <p>0 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/163">Game of Thrones</a>
          <small class="top-ten__creator">by GRRM</small>
        </h4>
        <p>0 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/58">Venom</a>
          <small class="top-ten__creator">by Marvel</small>
        </h4>
        <p>0 votes</p>
      </li>
  </ul>
  <!-- <a href="/works.movies">View More Movies</a> -->
</section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Books
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="/works/134">The Hipster and the Beast</a>
          <small class="top-ten__creator">by Hipper T</small>
        </h4>
        <p>16 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/111">Harry Potter and the Gorblet of Fire</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>7 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/99">Cutting for hash</a>
          <small class="top-ten__creator">by Abraham Verghese</small>
        </h4>
        <p>5 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/60">The Fetamorphosis</a>
          <small class="top-ten__creator">by Franz Kafka</small>
        </h4>
        <p>4 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/36">Harray Porter and the Prisoner of Azkabern </a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>4 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/67">Twenty Thousand Leagues Under the Brie</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>4 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/30">Call of the Mild</a>
          <small class="top-ten__creator">by Jack Cheddar</small>
        </h4>
        <p>2 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/14">Winter Pie</a>
          <small class="top-ten__creator">by Mr. Syble Kuhn</small>
        </h4>
        <p>2 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/110">Let gets even lazier</a>
          <small class="top-ten__creator">by Sandi</small>
        </h4>
        <p>2 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/57">The Swissterhood Of The Traveling Pants</a>
          <small class="top-ten__creator">by Ann Brasharesdacheese</small>
        </h4>
        <p>2 votes</p>
      </li>
  </ul>
  <!-- <a href="/works.books">View More Books</a> -->
</section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Albums
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="/works/19">Winter Been</a>
          <small class="top-ten__creator">by Mackenzie Wilkinson</small>
        </h4>
        <p>6 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/142">qwqw</a>
          <small class="top-ten__creator">by wqw</small>
        </h4>
        <p>3 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/52">no creator</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>3 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/149">what is an invalid value????</a>
          <small class="top-ten__creator">by jlsjldfjslfj01902-e9</small>
        </h4>
        <p>2 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/18">Express Extract</a>
          <small class="top-ten__creator">by Dorothy Jast I</small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/102">12234</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/93">-12</a>
          <small class="top-ten__creator">by 12qw</small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/38">Back to Black</a>
          <small class="top-ten__creator">by Amy Winehouse</small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/3">Kreb-Full-o Been</a>
          <small class="top-ten__creator">by Ms. Trevion Buckridge</small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/68">Lighthouse</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>1 votes</p>
      </li>
  </ul>
  <!-- <a href="/works.albums">View More Albums</a> -->
</section>
</main>
