<section>
  <h2>Media Spotlight: title by </h2>
  <p>
    7 votes - Description here
  </p>
</section>
  <h2>Top Movies</h2>


<section>
  <h2>Top Books</h2>

</section>

<section>
  <h2>Top Albums</h2>
</section>
