<section class='page'>
  <section class='section spotlight'>
    <h3>Media Spotlight</h3>
  </section>
  <section class='section movies'>
    <strong class="section-header">Top Movies</strong>
    <%= render partial: "topworks", collection: @movies %>
  </section>
  <section class='section books'>
    <strong class="section-header">Top Books</strong>
    <%= render partial: "topworks", collection: @books %>
  </section>
  <section class='section albums'>
    <strong class="section-header">Top Albums</strong>
    <%= render partial: "topworks", collection: @albums %>
  </section>
</section>
