<h1>Hey welfcome to the media site haha...ha..</h1>

<table>
  <thead>
    <tr>
      <td>Votes</td>
      <td>Title</td>
      <td>Created By</td>
      <td>Published</td>
      <td>Upvote</td>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "/media/medium", collection: @media %>
  </tbody>
</table>
