<table>
  <thead>
    <tr>
      <td>Votes</td>
      <td>Title</td>
      <td>Created By</td>
      <td>Published</td>
      <td>Upvote</td>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "media/medium", collection: collection %>
  </tbody>
</table>
