<table class="table">
  <thead>
    <tr>
      <th width=80>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th width=100>Published</th>
      <th width=100>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "media/medium", collection: collection %>
  </tbody>
</table>
