<%= render partial: 'medium_errors', locals: { medium: @medium } %>

<h2>Sometimes even <%= parse_bro_category(@medium.category) %> Bros need a little update...</h2>

<%= render partial: "media_form" %>
