.form_partial > h2{
  color: #00a99a;
  font-size: 2.0rem;
  font-weight: bold;
}

input[type=text]{
  width: 100%;
  margin-bottom: 15px;
}

textarea{
  width: 100%;
  margin-bottom: 15px;
}

select{
  width: 100%;
  margin-bottom: 15px;
}

input[type=submit]{
  background-color: #00a99a;
  color: white;
  border-radius: 5px;
}
