body {
  font-family: 'Gudea', sans-serif;
}

header {
  background-color: #AACFCC;
}

.title {
  font-size: larger;
  font-weight: 700;
}

h1 {
  text-align: center;
}

h1 a:link, h1 a:visited {
  color: tomato;
}

nav ul {
  display: flex;
  padding: 1rem 1rem;
  flex-wrap: wrap;
}

.nav-links {
  width: 200px;
}


a {
  text-decoration: none;
  color: #27A08B;
}

ul {
  list-style: none;
}
