/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

body {
  font-family: "Gudea", sans-serif;
}

#banner {
  margin-bottom: 0.5rem;
  padding: 3.5rem 1rem 0rem 1rem;
  color: white;
}

#banner, .navbar {
  background-color: #B2DFDB;
}

.brand h1>a {
  text-decoration: none;
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
  font-weight: 1000;
  font-size: 2.5rem;
}

.brand h1 {
  text-align: center;
}

.brand {
  margin-bottom: 3rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  color: #00796B;
  display: block;
  padding: 0.5em 1em;
}

.btn {
  border-color: #26A69A;
  text-decoration: none;
}

.btn-info {
  background-color: #26A69A;
}

.btn:not(.btn-danger):hover {
  background-color: #186a62;
  border-color: #186a62;
}

li {
  list-style: none;
}

.navbar ul {
  display: flex;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
}

.login {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.login li {
  margin-left: 2rem;
  margin-top: 1rem;
}

h2 {
  color: #26A69A;
}

h2, h3, h4, table th {
  font-weight: bold;
}

h4 {
  text-transform: capitalize;
}

.card-title span > a:hover, .top-media a:hover, .table-category a:hover, btn:hover, .nav-link:hover {
  color: rgb(3, 85, 72);
}

a {
  text-decoration: none;
  color: #26A69A;
}

.btn-primary {
  background-color: #26A69A;
  border-color: #26A69A;
}

.alert-error {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning {
  margin-top: -1em;
}

.alert-warning>p {
  padding-left: 1.25rem;
}

.table td {
  padding-bottom: 2rem;
}
