// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-titles {
  color: #26A69A;
  padding-top: 20px;
}

.list-titles > a[href] {
  color: #26A69A;
}
