// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users-index, #user-details {
  padding: 2em;
}

span {
  background-color: white;
}

.user-votes {
  margin-top: 2.5em;
}
