// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-ten__container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 2em;
line-height: 1.5;
}

.top-ten__header {
    border-bottom: 2px solid;
    border-bottom-color: #B2DFDB;
}

.top-ten__creator {
    color: slategrey;
}

// .top-ten__container li .list-group-item {
//   border: none;
// }

.list-group-item:last-child {
  border:0;
}
