// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  padding: 3rem;
}

.sub-header{
  padding: 1rem 3rem;
}

.index-table {
  width: 100%;
  margin: 0 3rem 3rem 3rem;
}

.show-table {
  width: 100%;
  padding: 0 1rem;
}

.work-form, .individual-work {
  padding: 0 1rem;
}

.full {
  width: 100%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
