// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// * {
//   border: solid 1px black;
// }
.new-title {
  margin-top: 40px;
  margin-left: 18px;
  color: #26A69A;
  font-size: 2em;
  font-weight: 600;
}

.show-title {
  margin-top: 40px;
  color: #50B6AC;
}

.votes {
  color: black;
  margin-top: 30px;
}
